section.section.bg-image.overlay(style="background-image: url('images/hero_4.jpg');")
    .container
    .row.align-items-center
        .col-12.col-md-6.text-center.mb-4.mb-md-0.text-md-left(data-aos='fade-up')
        h2.text-white.font-weight-bold A Best Place To Stay. Reserve Now!
        .col-12.col-md-6.text-center.text-md-right(data-aos='fade-up', data-aos-delay='200')
        a.btn.btn-outline-white-primary.py-3.text-white.px-5(href='reservation.html') Reserve Now
footer.section.footer-section
    .container
    .row.mb-4
        .col-md-3.mb-5
        ul.list-unstyled.link
            li
            a(href='#') About Us
            li
            a(href='#') Terms & Conditions
            li
            a(href='#') Privacy Policy
            li
            a(href='#') Rooms
        .col-md-3.mb-5
        ul.list-unstyled.link
            li
            a(href='#') The Rooms & Suites
            li
            a(href='#') About Us
            li
            a(href='#') Contact Us
            li
            a(href='#') Restaurant
        .col-md-3.mb-5.pr-md-5.contact-info
        // <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
        p
            span.d-block
            span.ion-ios-location.h5.mr-3.text-primary
            | Address:
            span
            | 198 West 21th Street, 
            br
            |  Suite 721 New York NY 10016
        p
            span.d-block
            span.ion-ios-telephone.h5.mr-3.text-primary
            | Phone:
            span  (+1) 435 3533
        p
            span.d-block
            span.ion-ios-email.h5.mr-3.text-primary
            | Email:
            span  info@domain.com
        .col-md-3.mb-5
        p Sign up for our newsletter
        form.footer-newsletter(action='#')
            .form-group
            input.form-control(type='email', placeholder='Email...')
            button.btn(type='submit')
                span.fa.fa-paper-plane
    .row.pt-5
        p.col-md-6.text-left
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | Copyright ©
        script.
            document.write(new Date().getFullYear());
        |  All rights reserved | This template is made with 
        i.icon-heart-o(aria-hidden='true')
        |  by 
        a(href='https://colorlib.com', target='_blank') Colorlib
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        p.col-md-6.text-right.social
        a(href='#')
            span.fa.fa-tripadvisor
        a(href='#')
            span.fa.fa-facebook
        a(href='#')
            span.fa.fa-twitter
        a(href='#')
            span.fa.fa-linkedin
        a(href='#')
            span.fa.fa-vimeo
script(src='js/jquery-3.3.1.min.js')
script(src='js/jquery-migrate-3.0.1.min.js')
script(src='js/popper.min.js')
script(src='js/bootstrap.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/jquery.stellar.min.js')
script(src='js/jquery.fancybox.min.js')
script(src='js/aos.js')
script(src='js/bootstrap-datepicker.js')
script(src='js/jquery.timepicker.min.js')
script(src='js/main.js')
