extend layout
block content
    section.site-hero.inner-page.overlay(style='background-image: url(images/hero_4.jpg)', data-stellar-background-ratio='0.5')
      .container
        .row.site-hero-inner.justify-content-center.align-items-center
          .col-md-10.text-center(data-aos='fade')
            h1.heading.mb-3 Contact
            ul.custom-breadcrumbs.mb-4
              li
                a(href='index.html') Home
              li •
              li Contact
      a.mouse.smoothscroll(href='#next')
        .mouse-icon
          span.mouse-wheel
    // END section
    section#next.section.contact-section
      .container
        .row
          .col-md-7(data-aos='fade-up', data-aos-delay='100')
            form.bg-white.p-md-5.p-4.mb-5.border(action='#', method='post')
              .row
                .col-md-6.form-group
                  label(for='name') Name
                  input#name.form-control(type='text')
                .col-md-6.form-group
                  label(for='phone') Phone
                  input#phone.form-control(type='text')
              .row
                .col-md-12.form-group
                  label(for='email') Email
                  input#email.form-control(type='email')
              .row.mb-4
                .col-md-12.form-group
                  label(for='message') Write Message
                  textarea#message.form-control(name='message', cols='30', rows='8')
              .row
                .col-md-6.form-group
                  input.btn.btn-primary.text-white.font-weight-bold(type='submit', value='Send Message')
          .col-md-5(data-aos='fade-up', data-aos-delay='200')
            .row
              .col-md-10.ml-auto.contact-info
                p
                  span.d-block Address:
                  span  98 West 21th Street, Suite 721 New York NY 10016
                p
                  span.d-block Phone:
                  span  (+1) 234 4567 8910
                p
                  span.d-block Email:
                  span  info@domain.com
    section.section.testimonial-section.bg-light
      .container
        .row.justify-content-center.text-center.mb-5
          .col-md-7
            h2.heading(data-aos='fade-up') People Says
        .row
          .js-carousel-2.owl-carousel.mb-5(data-aos='fade-up', data-aos-delay='200')
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_1.jpg', alt='Image placeholder')
              blockquote
                p
                  | “A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.”
              p
                em — Jean Smith
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_2.jpg', alt='Image placeholder')
              blockquote
                p
                  | “Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.”
              p
                em — John Doe
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_3.jpg', alt='Image placeholder')
              blockquote
                p
                  | “When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.”
              p
                em — John Doe
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_1.jpg', alt='Image placeholder')
              blockquote
                p
                  | “A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.”
              p
                em — Jean Smith
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_2.jpg', alt='Image placeholder')
              blockquote
                p
                  | “Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.”
              p
                em — John Doe
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_3.jpg', alt='Image placeholder')
              blockquote
                p
                  | “When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.”
              p
                em — John Doe
          // END slider
   