extends layout
block content
  section.site-hero.inner-page.overlay(style='background-image: url(images/hero_4.jpg)', data-stellar-background-ratio='0.5')
    .container
      .row.site-hero-inner.justify-content-center.align-items-center
        .col-md-10.text-center(data-aos='fade')
          h1.heading.mb-3 Events
          ul.custom-breadcrumbs.mb-4
            li
              a(href='index.html') Home
            li •
            li Events
    a.mouse.smoothscroll(href='#next')
      .mouse-icon
        span.mouse-wheel
  // END section
  section#next.section.blog-post-entry.bg-light
    .container
      .row
        .col-lg-4.col-md-6.col-sm-6.col-12.post.mb-5(data-aos='fade-up', data-aos-delay='100')
          .media.media-custom.d-block.mb-4.h-100
            a.mb-4.d-block(href='#')
              img.img-fluid(src='images/img_1.jpg', alt='Image placeholder')
            .media-body
              span.meta-post February 26, 2018
              h2.mt-0.mb-3
                a(href='#') Travel Hacks to Make Your Flight More Comfortable
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-lg-4.col-md-6.col-sm-6.col-12.post.mb-5(data-aos='fade-up', data-aos-delay='200')
          .media.media-custom.d-block.mb-4.h-100
            a.mb-4.d-block(href='#')
              img.img-fluid(src='images/img_2.jpg', alt='Image placeholder')
            .media-body
              span.meta-post February 26, 2018
              h2.mt-0.mb-3
                a(href='#') 5 Job Types That Aallow You To Earn As You Travel The World
              p
                | Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        .col-lg-4.col-md-6.col-sm-6.col-12.post.mb-5(data-aos='fade-up', data-aos-delay='300')
          .media.media-custom.d-block.mb-4.h-100
            a.mb-4.d-block(href='#')
              img.img-fluid(src='images/img_3.jpg', alt='Image placeholder')
            .media-body
              span.meta-post February 26, 2018
              h2.mt-0.mb-3
                a(href='#') 30 Great Ideas On Gifts For Travelers
              p
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. t is a paradisematic country, in which roasted parts of sentences.
        .col-lg-4.col-md-6.col-sm-6.col-12.post.mb-5(data-aos='fade-up', data-aos-delay='100')
          .media.media-custom.d-block.mb-4.h-100
            a.mb-4.d-block(href='#')
              img.img-fluid(src='images/img_4.jpg', alt='Image placeholder')
            .media-body
              span.meta-post February 26, 2018
              h2.mt-0.mb-3
                a(href='#') Travel Hacks to Make Your Flight More Comfortable
              p
                | Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
        .col-lg-4.col-md-6.col-sm-6.col-12.post.mb-5(data-aos='fade-up', data-aos-delay='200')
          .media.media-custom.d-block.mb-4.h-100
            a.mb-4.d-block(href='#')
              img.img-fluid(src='images/img_1.jpg', alt='Image placeholder')
            .media-body
              span.meta-post February 26, 2018
              h2.mt-0.mb-3
                a(href='#') 5 Job Types That Aallow You To Earn As You Travel The World
              p
                | Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
        .col-lg-4.col-md-6.col-sm-6.col-12.post.mb-5(data-aos='fade-up', data-aos-delay='300')
          .media.media-custom.d-block.mb-4.h-100
            a.mb-4.d-block(href='#')
              img.img-fluid(src='images/img_2.jpg', alt='Image placeholder')
            .media-body
              span.meta-post February 26, 2018
              h2.mt-0.mb-3
                a(href='#') 30 Great Ideas On Gifts For Travelers
              p
                | A small river named Duden flows by their place and supplies it with the necessary regelialia. t is a paradisematic country, in which roasted parts of sentences.
      .row(data-aos='fade')
        .col-12
          .custom-pagination
            ul.list-unstyled
              li.active
                span 1
              li
                a(href='#') 2
              li
                a(href='#') 3
              li
                span ...
              li
                a(href='#') 30
