doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Sogo Hotel by Colorlib.com
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(name='author', content='')
    link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700')
    link(rel='stylesheet', href='css/bootstrap.min.css')
    link(rel='stylesheet', href='css/animate.css')
    link(rel='stylesheet', href='css/owl.carousel.min.css')
    link(rel='stylesheet', href='css/aos.css')
    link(rel='stylesheet', href='css/bootstrap-datepicker.css')
    link(rel='stylesheet', href='css/jquery.timepicker.css')
    link(rel='stylesheet', href='css/fancybox.min.css')
    link(rel='stylesheet', href='fonts/ionicons/css/ionicons.min.css')
    link(rel='stylesheet', href='fonts/fontawesome/css/font-awesome.min.css')
    // Theme Style
    link(rel='stylesheet', href='css/style.css')
  body
    header.site-header.js-site-header
      .container-fluid
        .row.align-items-center
          .col-6.col-lg-4.site-logo(data-aos='fade')
            a(href='index.html') Sogo Hotel
          .col-6.col-lg-8
            .site-menu-toggle.js-site-menu-toggle(data-aos='fade')
              span
              span
              span
            // END menu-toggle
            .site-navbar.js-site-navbar
              nav(role='navigation')
                .container
                  .row.full-height.align-items-center
                    .col-md-6.mx-auto
                      ul.list-unstyled.menu
                        li
                          a(href='index.html') Home
                        li
                          a(href='rooms.html') Rooms
                        li
                          a(href='about.html') About
                        li
                          a(href='events.html') Events
                        li.active
                          a(href='contact.html') Contact
                        li
                          a(href='reservation.html') Reservation
    // END head
    section.site-hero.inner-page.overlay(style='background-image: url(images/hero_4.jpg)', data-stellar-background-ratio='0.5')
      .container
        .row.site-hero-inner.justify-content-center.align-items-center
          .col-md-10.text-center(data-aos='fade')
            h1.heading.mb-3 Contact
            ul.custom-breadcrumbs.mb-4
              li
                a(href='index.html') Home
              li •
              li Contact
      a.mouse.smoothscroll(href='#next')
        .mouse-icon
          span.mouse-wheel
    // END section
    section#next.section.contact-section
      .container
        .row
          .col-md-7(data-aos='fade-up', data-aos-delay='100')
            form.bg-white.p-md-5.p-4.mb-5.border(action='#', method='post')
              .row
                .col-md-6.form-group
                  label(for='name') Name
                  input#name.form-control(type='text')
                .col-md-6.form-group
                  label(for='phone') Phone
                  input#phone.form-control(type='text')
              .row
                .col-md-12.form-group
                  label(for='email') Email
                  input#email.form-control(type='email')
              .row.mb-4
                .col-md-12.form-group
                  label(for='message') Write Message
                  textarea#message.form-control(name='message', cols='30', rows='8')
              .row
                .col-md-6.form-group
                  input.btn.btn-primary.text-white.font-weight-bold(type='submit', value='Send Message')
          .col-md-5(data-aos='fade-up', data-aos-delay='200')
            .row
              .col-md-10.ml-auto.contact-info
                p
                  span.d-block Address:
                  span  98 West 21th Street, Suite 721 New York NY 10016
                p
                  span.d-block Phone:
                  span  (+1) 234 4567 8910
                p
                  span.d-block Email:
                  span  info@domain.com
    section.section.testimonial-section.bg-light
      .container
        .row.justify-content-center.text-center.mb-5
          .col-md-7
            h2.heading(data-aos='fade-up') People Says
        .row
          .js-carousel-2.owl-carousel.mb-5(data-aos='fade-up', data-aos-delay='200')
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_1.jpg', alt='Image placeholder')
              blockquote
                p
                  | “A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.”
              p
                em — Jean Smith
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_2.jpg', alt='Image placeholder')
              blockquote
                p
                  | “Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.”
              p
                em — John Doe
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_3.jpg', alt='Image placeholder')
              blockquote
                p
                  | “When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.”
              p
                em — John Doe
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_1.jpg', alt='Image placeholder')
              blockquote
                p
                  | “A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.”
              p
                em — Jean Smith
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_2.jpg', alt='Image placeholder')
              blockquote
                p
                  | “Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.”
              p
                em — John Doe
            .testimonial.text-center.slider-item
              .author-image.mb-3
                img.rounded-circle.mx-auto(src='images/person_3.jpg', alt='Image placeholder')
              blockquote
                p
                  | “When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.”
              p
                em — John Doe
          // END slider
    section.section.bg-image.overlay(style="background-image: url('images/hero_4.jpg');")
      .container
        .row.align-items-center
          .col-12.col-md-6.text-center.mb-4.mb-md-0.text-md-left(data-aos='fade-up')
            h2.text-white.font-weight-bold A Best Place To Stay. Reserve Now!
          .col-12.col-md-6.text-center.text-md-right(data-aos='fade-up', data-aos-delay='200')
            a.btn.btn-outline-white-primary.py-3.text-white.px-5(href='reservation.html') Reserve Now
    footer.section.footer-section
      .container
        .row.mb-4
          .col-md-3.mb-5
            ul.list-unstyled.link
              li
                a(href='#') About Us
              li
                a(href='#') Terms & Conditions
              li
                a(href='#') Privacy Policy
              li
                a(href='#') Rooms
          .col-md-3.mb-5
            ul.list-unstyled.link
              li
                a(href='#') The Rooms & Suites
              li
                a(href='#') About Us
              li
                a(href='#') Contact Us
              li
                a(href='#') Restaurant
          .col-md-3.mb-5.pr-md-5.contact-info
            // <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
            p
              span.d-block
                span.ion-ios-location.h5.mr-3.text-primary
                | Address:
              span
                | 198 West 21th Street, 
                br
                |  Suite 721 New York NY 10016
            p
              span.d-block
                span.ion-ios-telephone.h5.mr-3.text-primary
                | Phone:
              span  (+1) 435 3533
            p
              span.d-block
                span.ion-ios-email.h5.mr-3.text-primary
                | Email:
              span  info@domain.com
          .col-md-3.mb-5
            p Sign up for our newsletter
            form.footer-newsletter(action='#')
              .form-group
                input.form-control(type='email', placeholder='Email...')
                button.btn(type='submit')
                  span.fa.fa-paper-plane
        .row.pt-5
          p.col-md-6.text-left
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            | Copyright ©
            script.
              document.write(new Date().getFullYear());
            |  All rights reserved | This template is made with 
            i.icon-heart-o(aria-hidden='true')
            |  by 
            a(href='https://colorlib.com', target='_blank') Colorlib
            // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          p.col-md-6.text-right.social
            a(href='#')
              span.fa.fa-tripadvisor
            a(href='#')
              span.fa.fa-facebook
            a(href='#')
              span.fa.fa-twitter
            a(href='#')
              span.fa.fa-linkedin
            a(href='#')
              span.fa.fa-vimeo
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/jquery-migrate-3.0.1.min.js')
    script(src='js/popper.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/owl.carousel.min.js')
    script(src='js/jquery.stellar.min.js')
    script(src='js/jquery.fancybox.min.js')
    script(src='js/aos.js')
    script(src='js/bootstrap-datepicker.js')
    script(src='js/jquery.timepicker.min.js')
    script(src='js/main.js')
